<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat Bot</title>
	<style>
		div.justified {
			display: flex;
			justify-content: center;
		}
	</style>
</head>

<body>
	<div class="justified">
		<textarea name="ta" id="results" cols="120" rows="35">
		</textarea>
	</div>
	<br>
	<div class="justified">
		
		Talk to the Bot 	: <input type="text" id="exp">
		<input type="button" id="submit" value="Submit">
	</div>
    
	<script>
		var textarea = document.querySelector("#results");
		textarea.scrollTop = textarea.scrollHeight;

		//const socket = new WebSocket('ws://localhost:8000/ws/livec/');
		const socket = new WebSocket('wss://series-recommender-chatbot.herokuapp.com/ws/livec/');

		socket.onmessage = (e) => {
			result = JSON.parse(e.data).result;
			document.getElementById("results").value += "Bot: " + result + "\n";
		}

		socket.onclose = (e) => {
			console.log("Socket closed!");
		}

		document.querySelector('#exp').onkeyup = function (e) {
			if (e.keyCode === 13) { // enter, return
				document.querySelector('#submit ').click();
			}
		};

		document.querySelector("#submit").onclick = (e) => {
			inputfield = document.querySelector("#exp")
			exp = inputfield.value
			socket.send(JSON.stringify(
				{
					expression: exp
				}
			))
			document.querySelector("#results").value += "You: " + exp + "\n";
			textarea.scrollTop = textarea.scrollHeight;
			inputfield.value = "";
		}

	</script>
</body>

</html>
